/* _content/PROYECTO/views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body[b-4l55dvds5y]{
  margin:0;
  padding:0;
}

a.navbar-brand[b-4l55dvds5y] {
  text-align: center;
 
}

a[b-4l55dvds5y] {
  color: #0077cc;
}

.btn-primary[b-4l55dvds5y] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.border-top[b-4l55dvds5y] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-4l55dvds5y] {
  border-bottom: 1px solid #e5e5e5;
}

button.accept-policy[b-4l55dvds5y] {
  font-size: 1rem;
  line-height: inherit;
}


